# Copy the Qualifier annotation from the instance variables to the constructor
# see https://github.com/rzwitserloot/lombok/issues/745
#This is required as of 6/29/2020 to support copying @Qualifier annotations on lombokified files.
#Example CommonDataConfiguration usage from MessageSupportImpl via CommonTransactionExecutor.
#CommonTransactionExecutor did not use the correct commonTransactionManager if the qualifiers were not copied correctly.
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier