<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <!-- FUTURE test by adding: metadata-complete="true" for performance -->

  <display-name>WEB STRATIS</display-name>
  <description>WEB STRATIS 704.01.05</description>

  <!-- To disable encryption -->
  <context-param>
    <param-name>org.apache.myfaces.USE_ENCRYPTION</param-name>
    <param-value>false</param-value>
  </context-param>

  <!-- Define the initialization code (Bas64 encoded) that are used to initialize the secret key used
       on the Message Authentication Code algorithm. The size of it depends on the algorithm used for mac calculation -->
  <context-param>
    <param-name>org.apache.myfaces.MAC_SECRET</param-name>
    <param-value>YWJjZDEyMzQ=</param-value>
  </context-param>

  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <description>If this parameter is true, there will be an automatic check of the modification date of your JSPs, and saved state will be
      discarded when JSP's change. It will also automatically check if your skinning css files have changed without you having to restart
      the server. This makes development easier, but adds overhead. For this reason this parameter should be set to false when your
      application is deployed.
    </description>
    <param-name>org.apache.myfaces.trinidad.CHECK_FILE_MODIFICATION</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <description>Whether the 'Generated by...' comment at the bottom of ADF Faces HTML pages should contain version number information.
    </description>
    <param-name>oracle.adf.view.rich.versionString.HIDDEN</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <description>Security precaution to prevent clickjacking: bust frames if the ancestor window domain(protocol, host, and port) and the
      frame domain are different. Another options for this parameter are always and never.
    </description>
    <param-name>org.apache.myfaces.trinidad.security.FRAME_BUSTING</param-name>
    <param-value>differentOrigin</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_XML_INSTRUCTIONS</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_DECORATORS</param-name>
    <param-value>oracle.adfinternal.view.faces.facelets.rich.AdfTagDecorator</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_RESOURCE_RESOLVER</param-name>
    <param-value>oracle.adfinternal.view.faces.facelets.rich.AdfFaceletsResourceResolver</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_VIEW_MAPPINGS</param-name>
    <param-value>*.jsf;*.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>oracle.adf.view.faces.UPLOAD_TEMP_DIR</param-name>
    <param-value>/oracle/interfaces</param-value>
  </context-param>
  <mime-mapping>
    <extension>xhtml</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>xml</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>js</extension>
    <mime-type>text/javascript</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>xls</extension>
    <mime-type>application/vnd.ms-excel</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>png</extension>
    <mime-type>image/png</mime-type>
  </mime-mapping>

  <filter>
    <filter-name>trinidad</filter-name>
    <filter-class>org.apache.myfaces.trinidad.webapp.TrinidadFilter</filter-class>
  </filter>
  <filter>
    <filter-name>adfBindings</filter-name>
    <filter-class>oracle.adf.model.servlet.ADFBindingFilter</filter-class>
  </filter>
  <filter>
    <filter-name>SessionExpireFilter</filter-name>
    <filter-class>mil.stratis.view.session.SessionExpire</filter-class>
    <init-param>
      <param-name>SessionTimeoutRedirect</param-name>
      <param-value>Close.html</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>SessionRequiredFilter</filter-name>
    <filter-class>mil.stratis.view.session.SessionRequiredFilter</filter-class>
    <init-param>
      <param-name>NotLoggedIn</param-name>
      <param-value>unauthenticated.html</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>EdipiThreadFilter</filter-name>
    <filter-class>mil.usmc.mls2.stratis.core.infrastructure.configuration.UserSiteSelectionThreadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionRequiredFilter</filter-name>
    <url-pattern>
      /faces/*
    </url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EdipiThreadFilter</filter-name>
    <url-pattern>
      /faces/*
    </url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>trinidad</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>adfBindings</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>adfBindings</filter-name>
    <servlet-name>SlotImage</servlet-name>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionExpireFilter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>resources</servlet-name>
    <servlet-class>org.apache.myfaces.trinidad.webapp.ResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BIGRAPHSERVLET</servlet-name>
    <servlet-class>oracle.adf.view.faces.bi.webapp.GraphServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BIGAUGESERVLET</servlet-name>
    <servlet-class>oracle.adf.view.faces.bi.webapp.GaugeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MapProxyServlet</servlet-name>
    <servlet-class>oracle.adf.view.faces.bi.webapp.MapProxyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SlotImage</servlet-name>
    <servlet-class>mil.stratis.view.util.SlotImage</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resources</servlet-name>
    <url-pattern>/adf/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resources</servlet-name>
    <url-pattern>/afr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BIGRAPHSERVLET</servlet-name>
    <url-pattern>/servlet/GraphServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BIGAUGESERVLET</servlet-name>
    <url-pattern>/servlet/GaugeServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MapProxyServlet</servlet-name>
    <url-pattern>/mapproxy/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resources</servlet-name>
    <url-pattern>/bi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SlotImage</servlet-name>
    <url-pattern>/SlotImage</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
    <!--      <cookie-config>-->
    <!--        <http-only>true</http-only>-->
    <!--        <secure>true</secure>-->
    <!--      </cookie-config>-->
    <!--      <tracking-mode>COOKIE</tracking-mode>-->
  </session-config>
  <mime-mapping>
    <extension>swf</extension>
    <mime-type>application/x-shockwave-flash</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>amf</extension>
    <mime-type>application/x-amf</mime-type>
  </mime-mapping>
  <env-entry>
    <description>STRATIS version</description>
    <env-entry-name>STRATVER</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>704.01.05</env-entry-value>
  </env-entry>
  <env-entry>
    <description>STRATIS build date and git commit</description>
    <env-entry-name>STRATBUILDINFO</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>2021-01-19</env-entry-value>
  </env-entry>
  <!-- Enable/disable pass through login. -->
  <env-entry>
    <description>CAC Flag</description>
    <env-entry-name>CACFLAG</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>1</env-entry-value>
  </env-entry>
  <login-config>
    <auth-method>CLIENT-CERT</auth-method>
  </login-config>
  <!-- The following entries need to be updated for redesign. -->
  <env-entry>
    <description>Location of jpg images used by Storage Bin pages</description>
    <env-entry-name>ImagePath</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>/resources/images/bin_images</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>GcssSendSingleThread</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>false</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>GcssManualExportI142</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>false</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>comWSPath</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>/comws/COMWebServiceSoapHttpPort</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>comWSHost</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>https://c27strappndl03a.mcdsus.mcds.usmc.mil:443</env-entry-value>
  </env-entry>

  #INSERT_PRECOMPILED_HERE#
</web-app>
